.audio_page {
  padding-top: 20px;
  padding-bottom: 40px;
}

.audiodetail_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 10px;
}
.audio_layout {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.audio {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}

.audio_detail {
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 25px;
}

.audio_detail_img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 12px;
}

.custom_audio {
  width: 100%;
  margin-top: 15px;
}

/* Title */
.section_title {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0 15px;
}

.audio_wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  place-items: center;
}

.audio_item:hover {
  transform: translateY(-5px);
}

.audio_img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.audio_text {
  padding-top: 10px;
}

.audio_title {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  color: #111;
}

.audio_date {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: gray;
}

/* Responsive */
@media (max-width: 1000px) {
  .audio_layout {
    flex-direction: column;
  }

  .audio_item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .audio_item {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .audio_detail_img {
    height: 220px;
  }
}
