.hero {
  width: 100%;
}

/* 
.hero_wrapper{
  transform: translateY(-50px);
} */

.hero_swiper {
  width: 100%;
  height: 600px;
}

.hero_swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero_swiper {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .hero_swiper {
    height: 220px;
  }
}
