.blogs_wrapper {
  padding: 20px;
  margin: 0 auto;
}

.blogs_card {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.blogs_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogs_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 15px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  color: white;
}

.blogs_swiper_title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blogs_loading {
  text-align: center;
  margin-top: 50px;
}



/* Mobil uchun height kichraytirish */
@media (max-width: 576px) {
  .blogs_card {
    height: 200px;
  }
}
