/* .video_container {
  width: 100%;
  padding: 20px;
}

.video_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
}

.video_card {
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #eee;
  transition: 0.2s;
}

.video_card:hover {
  transform: scale(1.02);
}

.video_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.video_info {
  padding: 12px;
}

.video_title {
  font-size: 16px;
  font-weight: 600;
  color: #004440;
}

.video_date {
  font-size: 13px;
  color: gray;
  margin-top: 5px;
}

.video_views {
  font-size: 14px;
  margin-top: 5px;
  color: #004440;
}

.video_loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.video_empty {
  text-align: center;
  font-size: 18px;
  color: gray;
} */

.video_page {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.ant-tabs-left {
  width: 280px;
}

.video_wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  place-items: center;
}

.video {
  width: 280px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}
.video_img_box {
  position: relative;
}

.video_img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.play_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video_tabs .ant-tabs-nav-list {
  display: flex !important;
  flex-direction: column !important;
}
@media screen and (max-width: 992px) {
  .video_page {
    flex-direction: column;
  }

  .video_wrapper {
    justify-content: center;
  }
  .video_tabs .ant-tabs-nav-list {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
}
